{
  "root": true,
  "extends": [
    "@hs-web-team/eslint-config-browser",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/extensions": "off"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "ignorePatterns": [
    ".github/",
    "**/node_modules/**",
    "**/dist/**",
    "**/test/**"
  ]
}
